<a href="https://colab.research.google.com/github/rochishnarocky/repo/blob/main/labtestipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/cleaned_odd.xlsx')

QUESTION 1
 are there any missing values in any columns, if so in which columns?

In [4]:
df.isnull().sum()

Employee_Name                 9
Employee_ID                   0
Job_Role                     10
Phone_Number                  8
Email_ID                      9
Total_Work_Hour_per_Month    23
Salary_per_Month             20
dtype: int64

QUESTION 2
what is the datatype for each column, is it appropiate?

In [5]:
df.dtypes

Employee_Name                 object
Employee_ID                    int64
Job_Role                      object
Phone_Number                 float64
Email_ID                      object
Total_Work_Hour_per_Month    float64
Salary_per_Month             float64
dtype: object

phone number should not be float

QUESTION 3
Some employees have “9999” in the Total_Work_Hour_per_Month column. What does this represent, and should it be replaced?

**ans** : it most likely is an error, or a dummy value used to fill missing or unknown work hours
it can be replaced with none, or average, or minimum

In [6]:
#ans
df['Total_Work_Hour_per_Month'] = df['Total_Work_Hour_per_Month'].replace(9999, None)

QUESTION 4
The Phone_Number column has inconsistent formats. What steps can be taken to standardize it

**ans**:  The Phone_Number column has inconsistent formats because it's stored as a float, causing numbers to lose leading zeros and show decimals.

In [7]:
df['Phone_Number'] = df['Phone_Number'].astype(str).str.replace(r'\.0$', '', regex=True)

QUESTION 5
Compute an "Hourly Wage" column from Salary_per_Month and Total_Work_Hour_per_Month.

In [8]:
df['Total_Work_Hour_per_Month'] = df['Total_Work_Hour_per_Month'].replace(9999, None)